<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
	<meta name="author" content="金西振">
	<title></title>
	<script src="vue.js"></script>
</head>
<body>
<div id="app">
	<!-- 
		{{}}响应式绑定数据
		{{是把Vue中的数据和元素（页面）的内容进行绑定，在{{}}中添加变量名或者表达式即可}}
	 -->
	{{message}}|{{message + '123'}}
	<!-- 
		指令：带有v-前缀的特殊属性
		指令的职责：把指令所绑定的变量或者表达式的值显示在页面上，当绑定的值变化时，相应的将某些行为应用到DOM上
	 -->


	 <!-- {{}}和v-text解析为纯文本 -->
	 <p>{{html}}</p>
	 <p v-text="html"></p>
	 <!-- v-html解析为html内容 -->
	 <p v-html="html"></p>

	 <!-- v-on 指令添加事件监听 v-on:event="函数或者表达式" event事件类型：比如鼠标点击事件 click-->
	 <button type="button" v-on:click="changeMsg()">改变msg</button>
	 <button type="button" @click="changeMsg()">又改变msg</button>


	 <!-- 添加普通的title属性title='message',此时title的取值是message这个字符串 -->


	 <p title="message">这是一段话</p>
	 <!-- Vue的数据也可以和元素的属性进行绑定，使用v-bind指令，只要是标签上的属性，都可以绑定
	此时title的取值是message这个变量所表示的值 -->
	 <p v-bind:title="message">这也是一段话</p>
	 <!-- 绑定属性时 v-bind也可以省略，直接使用冒号：即可 -->
	 <p :title="message">呵呵</p>

	 <!-- v-model:双向数据绑定，能够将输入框的值和Vue实例中某个变量的值进行绑定，当输入框的值改变时，对应变量message的值也发生变化；而message的值改变时，输入框的值也发生变化 -->
	 <input type="text" v-model="message">信息：{{message}}


	 <!-- 
		 v-if条件判断，条件为真显示节点，为假移除/删除节点
		 v-else和v-if必须连用，中间不能加其他内容
	  -->
	 <p v-if="show">show为真，才能显示</p>
	 <!-- <p>我是来捣乱的</p> -->
	 <p v-else>show为假，才能显示</p>

	 <p v-if="score < 60">不及格</p>
	 <p v-else-if="score < 70">中等</p>
	 <p v-else-if="score < 80">良好</p>
	 <p v-else>优秀</p>
	 <button type="botton" @click="changeScore">score取值:{{score}}></button>


	 <!-- v-show条件为真，显示节点，条件为假则使用 display:none隐藏节点 -->
	 <p v-show="show"></p>


	 <!-- v-for遍历：book数组中的数组的元素，index元素的索引值，books是数组 -->
	 <ul>
		 <li v-for="(book,index) in books">
			 {{index}}.《{{book.name}}》
		 </li>
	 </ul>

	 <!-- template:当需要对多个标签进行重复时，为了避免向DOM中添加额外的标签，可以用template标签包裹，Vue解析渲染之后，template就会小时，会不出现额外的标签 -->
	 <dl>
		 <template v-for="book in books">	
			 <dt>{{book.name}}</dt>
			 <dd>{{book.price}}</dd>
			 </template>
	 </dl>
	 
	 <button type="button" @click="addBooks">添加书目</button>
	 
	 <ul>
	 	<!--遍历对象：value是属性值；key属性-->
	 	<li v-for="(value,key,index) in tom">
	 		{{index}}.{{key}}:{{value}}
	 	</li>
	 </ul>
	 <!--迭代-->
	 <span v-for="n in 10">{{n}}|</span>
</div>
</body>
<html>
<script>
	// 创建一个Vue实例，参数是一个对象
	// 对象可以包含数据、模板、挂载元素、方法、生命周期等选项
var app = new Vue({
	// Vue实例需要使用el属性关联一个DOM元素
	// el的值是这个DOM元素的选择器，指明了该Vue实例作用的视图范围
	el:'#app',
	// data:应用程序的数据，类型是一个对象
	data:{
		message:'hello vue!',
		html:'</p> 你好 Vue! </p>',
		show:false,
		score:55,
		books:[
			{name:'西游记',price:19.8},
			{name:'水浒传',price:29.8},
			{name:'三国演义',price:39.8}
		],
		tom:{
			name:'Tom',
			age:22,
			say:function(){
				console.log('say hello');
			}
		}
	},
	// methods:绑定Vue实例中所有的方法
	methods:{
        changeMsg:function(){
			// console.log(this.message)
			this.message = '改变msg'+Math.random()+toFixed(2);
		},
		changeScore:function(){
			this.score += 5;
		},
		addBooks:function(){
			//修改数组并触发视图的更新，要使用数组的变异方法：push/pop/shift...
			this.books.push({name:'红楼梦',price:49.8});
		}
	},
	//监视器：给某个属性设置监视函数 当属性的值发生变化时，触发监听的回调函数，但是不会监听初始值
	watch:{
		//属性名：回调函数
		//监视函数有两个参数：参数1是变量改变之后的值，参数2是变量改变之前的值
		message:function(){
			console.dir(arguments);
		}
	}
});
</script>

